.btc{
  width: 300px;
  margin: 30px auto auto auto;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  a.logo{

    img{
      width: 100%;
      display: block;
      margin: 0 0 30px 0;
    }

  }

  .price{
    h2{
      text-align: center;
    }

    h2.colorGreen{
       color: green;
    }

    h2.colorRed{
      color: red;
    }

    i.up{
      border: solid green;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      position: relative;
      top: -8px;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }

    i.down{
      border: solid red;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      position: relative;
      top: -6px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    span{
      display: block;
    }

    span.date{
      text-align: center;
      padding: 10px;
      font-style: italic;
    }

  }

}
